.block-views-blockbranding-home-block-1{
    background: $racc-grey4;
    margin-top: -22.1em;

    .views-row{
        box-sizing: border-box;
        padding: 5% 0;
    }

    .views-col{
        text-align: center;
        vertical-align: middle;
    }
}