.block-views-blockbranding-home-block-1{
    background: $racc-grey4;
    margin-top: 23.1em;

    @media all and (min-width: 560px) and (max-width: 1023px){
        margin-top: 15em;
    }

    .views-row{
        box-sizing: border-box;
        padding: 5% 0;
    }

    .views-col{
        text-align: center;
        vertical-align: middle;
    }

    @media all and (max-width: 1023px){
        .views-col{
            width: 100% !important;
            box-sizing: border-box;
            padding: 5%;
            margin-bottom: 3em;
        }
    }
}

@media all and (min-width: 1024px) {
    .block-views-blockbranding-home-block-1{
        background: $racc-grey4;
        margin-top: -22.1em;
    
        .views-row{
            box-sizing: border-box;
            padding: 5% 0;
        }
    
        .views-col{
            text-align: center;
            vertical-align: middle;
        }
    }
}