
@media all and (min-width: 1024px){

    .block-views-blockevents-home-block-1{
        padding: 0 2%;

        .view-content{

            .views-col{
                margin: auto 0;
                text-align: center;
            }
        }
    }
}