.block-views-blocknews-home-block-1{
    width: 98%;
    padding: 0 1%;

    .view-content{

        @media all and (max-width: 561px){

            .col-1{
                .views-field-field-short-title{
                    .field-content{
                        bottom: 48% !important;
                    }  
                }
            }

            .col-2{
                .views-field-field-short-title{
                    .field-content{
                        bottom: 27% !important;
                    }            
                }           
            }
        }
        
        .views-col{
            @media all and (max-width: 561px){
                width: 100% !important;
            }

            .views-field-field-preview-image{
                a::before{

                }
            }

            .views-field-field-short-title{
                box-sizing: border-box;
                
                .field-content{
                    position: absolute;
                    bottom: 20px;
                    min-height: 60px;
                    padding: 0 24px;
                    width: 85%;
                    color: white;
                    font-family: $racc-font;
                    font-weight: 400;
                    font-size: 1.3rem;
                    line-height: 1.4;
                }
            }

            .col-1{
                margin-left: -5%;
                box-sizing: border-box;
            }

            .col-2{
                margin-left: 3%;
                box-sizing: border-box;                
            }
        }
    }
}

@media all and (min-width: 560px) and (max-width: 1023px){
    .block-views-blocknews-home-block-1{
  
        .view-content{
            
            .views-col{
                width: 48% !important;
                
    
                .views-field-field-preview-image{

                    a::before{

                    }
                }
    
                .views-field-field-short-title{
                    
                    .field-content{
                        width: 40%;
                        bottom: 35%;                        
                    }
                }
            }

            .col-1{
                margin-right: 2%;
            }

            .col-2{
                margin-left: 2%;
            }
        }
    }
}

@media all and (min-width: 1024px) {

    .block-views-blocknews-home-block-1{
        z-index: 10;
        width: 45%;
        padding: 0 2%;
        float: right;

        .view-content{

            .views-col{

                  .views-field-field-short-title{
                    box-sizing: border-box;
                    
                    .field-content{
                        position: absolute;
                        bottom: 35%;
                        min-height: 60px;
                        padding: 0 24px;
                        width: 19.5%;
                        color: white;
                        font-family: $racc-font;
                        font-weight: 400;
                        font-size: 1.3rem;
                        line-height: 1.4;
                    }
                }
            }

            .col-1{
                margin-left: -5%;
                box-sizing: border-box;
            }

            .col-2{
                margin-left: 3%;
                box-sizing: border-box;                
            }
        }
    }
}