@import "../variables";

body{
  
  a{
      border-bottom: 0;
  }

  :hover{
    text-decoration: none;
    border-bottom: 0;
  }
}

.layout-container {

  box-sizing: border-box;
}
@media all and (min-width: 851px) {

  header{
    position: relative;
    z-index: 100;
    background: $nav-background;
  }

  .layout-container {
    width: 100%;
  }

  .slider{
    padding: 0;
  }
}

.layout-main-wrapper {
  min-height: 300px;
}
.layout-main {
  margin-top: 20px;
  margin-bottom: 40px;
}
