.block-webform-block{
    width: 100%;
    background: $racc-grey1;
    padding: 2% 3% 3%;
    box-sizing: border-box;

    @media all and (max-width: 1024px){
        .webform-submission-form{
            margin-top: 2%;
        }
    }        

    //title
    h2{
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        margin-bottom: 1em !important;
        letter-spacing: 0;
        font-size: 230% !important;
        margin-top: 1%;
    }

    //form + text
    .content{

        .form-item-name{
            input{
                width: 45%;
                float: left;
                margin: 0;
                margin-right: 8px;
                color: $racc-light-black;
                padding: 1.5;
                font-size: 11px;
                border-radius: 2px;
                box-shadow: none;
                height: 60px;
                font-family: 'Open Sans';
            }
        }

        .form-item-phone{
            input{
                width: 45%;
                float: left;
                margin: 0;
                margin-right: 8px;
                color: $racc-light-black;
                padding: 1.5;
                font-size: 11px;
                border-radius: 2px;
                box-shadow: none;
                height: 60px;
                font-family: 'Open Sans';
            }
        }

        .form-item-email{
            input{
                width: 45%;
                float: left;
                margin: 0;
                margin-right: 8px;
                margin-top: 10px;
                color: $racc-light-black;
                padding: 1.5;
                font-size: 11px;
                border-radius: 2px;
                box-shadow: none;
                height: 60px;
                font-family: 'Open Sans';
            }
        }

        //
        .form-actions{
            input{
                margin-top: 10px;
                font-family: 'Open Sans';
                width: 45%;
                float: left;
                margin-right: 8px;
                color: white;
                background: $racc-grey1;
                font-size: 15px;
                box-shadow: none;
                height: 60px;
                border: 2px solid white;
                border-radius: 0px;
            }
        }

        #edit-racc-phone{
            color: white;
            font-weight: 400;
            font-size: 185%;
            font-family: $racc-font;
            margin-top: 5em;

            strong{
                font-weight: 600;
            }
        }
    }
}

@media all and (min-width: 560px) and (max-width: 1023px){

}

@media all and (min-width: 1024px) {

    .block-webform-block{
        width: 87%;
        float: right;
        padding: 2% 3% 3%;

        h2{
            font-weight: 400;
            margin-bottom: 1em !important;
            letter-spacing: 0;
            font-size: 275% !important;
            margin-top: 1%;
        }
    
        //form + text
        .content{
    
            .form-item-name{
                input{
                    width: 15%;
                    float: left;
                    margin: 0;
                    margin-right: 8px;
                    padding: 1.5;
                    font-size: 11px;
                    border-radius: 2px;
                    height: 60px;
                }
            }
    
            .form-item-phone{
                input{
                    width: 15%;
                    float: left;
                    margin: 0;
                    margin-right: 8px;
                    padding: 1.5;
                    font-size: 11px;
                    height: 60px;
                }
            }
    
            .form-item-email{
                input{
                    width: 23%;
                    float: left;
                    margin: 0;
                    margin-right: 8px;
                    margin-top: 0;                    
                    padding: 1.5;
                    font-size: 11px;
                    height: 60px;
                }
            }
    
            //
            .form-actions{
                input{
                    margin-top: -0.7em;
                    width: 11%;
                    float: left;
                    margin-right: 8px;
                    font-size: 15px;
                    height: 60px;
                }
            }
    
            #edit-racc-phone{
                font-size: 185%;
                margin-left: 68%;
                margin-top: -0.6em;
            }
        }
    }
}