.region-logo .site-branding {
    //margin-top: 0.429em;
}

.logo{
    width: 20.7%;
    height: 105px;
    position: relative;
    float: left;
    display: inline-block;
}

.site-branding__logo{
    
    margin: 9px 50px;
    text-decoration: none;

    

    img{
        height: 85px;
        width: auto;
        
    }  
}