.slick img, .slick iframe{
    height: 70vh;
    width: auto;
}

.slider{
    width: 100%;
    margin-top: -0.5em;
    top: 0;
    height: 600px;
    position: absolute;
    z-index: 1;
    display: block;

    .slide__caption{

        a{
            font-size: 150%;
            font-weight: 300;
            color: white;
            text-transform: uppercase;
            line-height: 1.3;
        }

        p{
            display: none;
        }
    }

    .slide__constrained{
        position: absolute;
        width: 100%;
        padding: 0 8vw;
        margin-top: 50vh;
        z-index: 30;
    }

    .slick--skin--fullwidth .slide__media img{
        //min-width: 100%;
        //max-width: none;
        width: auto;
        height: 78vh;
    }

    picture::before {
        content: '.';
        position: absolute;
        width: 100%;
        height: 100%;
        //z-index: 5;
        background: linear-gradient(to bottom,rgba(255,255,255,0) 20%,black 100%);
    }

    .slick-dots{
        position: relative;
        margin-top: -15vh;
        z-index: 150;

        li{
            padding-right: 4.2em;

            button::before{
                content:url(../../images/NotActiveSlide.png);
            }
        }

        .slick-active{
            padding-right: 4.2em;

            button::before{
                content:url(../../images/ActiveSlide.png);
            }
        }
    }

    .slick__arrow{
        margin-top: 0.4%;
        button{
            visibility: visible;
        }

        .slick-prev{
            margin-left: 2.3%;
        }

        .slick-prev:before{
            content: url(../../images/sliderback.png);
        }

        .slick-next{
            margin-right: 11.8%;
        }

        .slick-next:before{
            content: url(../../images/sliderforward.png);
        }
    }
}

@media all and (min-width: 560px) and (max-width: 1023px){

    .slider{

        //Slider image width and height
        .slick-list{
            padding: 0 0 !important;

            .slick__slide{
                width: 100vw !important;

                .slide__media{

                    img{
                        height: 90vh;
                        min-width: 100%;
                        max-width: none;
                    }
                }
            }
        }

        //Slider Text align for tablets
        .slide__constrained{
            margin-top: 65vh;
            .slide__caption{
                text-align: center;
            }
        }

        //Adjust slider arrow position
        .slick__arrow{
            .slick-next{
                margin-right: 4%;
            }
        }
    }
}

@media all and (min-width: 1024px) {
    .slider{
        margin-top: -10.2em;

        .slick--skin--fullwidth .slide__media img{
            max-width: 100%;
            height: auto;
        }

        .slick-list{
            padding: 0 !important;
        }

        .slick__slide{
            width: 100%;
            height: 137.6vh;
        }

        //slide image
        picture{
            img{
                height: auto;
                width: 100vw !important;
            }
        }

        //Slide text container
        .slide__constrained{
            margin-left: 9.8%;
            left: 0 !important;
            margin-top: 21%;
            width: 40%;
        }

        //slide text inside
        .slide__caption{
            > a{
                font-family: $racc-font;
                font-size: 2em;
                font-weight: 300;
                text-transform: uppercase;
                width: 10em;
                line-height: 1.15;
                margin-bottom: 1.5em;
                color: white; 
            }

            a:hover{
                color: $racc-red-font;
            }

            p{
                display: block;
                margin-top: 1em;
                color: white;
                font-size: 0.8em;
                line-height: 1.8;

                a{
                    color: white;
                    font-size: 0.8em;
                    text-decoration: underline;
                    padding-left: 1%;
                }
            }
        }

        .slick-dots{
            position: relative !important;
            margin-top: -36.1%;
            margin-bottom: 30%;
            text-align: left;
            padding-left: 10.5%;

            li{
                padding-right: 4.2em;

                button{
                    //margin-right: 1em;
                }
                button::before{
                    //margin-right: 1em;
                    content:url(../../images/NotActiveSlide.png);
                }
            }

            .slick-active{
                padding-right: 4.2em;

                button::before{
                    //margin-right: 1em;
                    content:url(../../images/ActiveSlide.png);
                }
            }
        }

        .slick__arrow{
            button{
                visibility: hidden;
            }
        }
    }

    .slider:hover{
        .slick__arrow{
            top: 43.5%;

            button{
                visibility: visible;
            }
    
            .slick-prev{
                margin-left: 1.2%;
            }
    
            .slick-prev:before{
                content: url(../../images/sliderback.png);
            }
    
            .slick-next{
                margin-right: 1.4%;
            }
    
            .slick-next:before{
                content: url(../../images/sliderforward.png);
            }
        }
    }
}