.main_menu{
    width: 72.5%;
    left: 10.11%;
    display: inline-block;
    height: 60px;
    position: relative;

    ul{
        font-family: $racc-font;
        font-weight: 500;
        //margin: 0;
        //padding: 0;
        //padding-top: 6px;
        //margin-left: -7px;
        color: $font-black;
        letter-spacing: 1px;
        text-transform: uppercase;

        li{
            a{
                color: black;
                font-size: 0.98em;
            }

            ul{
                background: white;

                li{

                }
            }
        }
    }
}