footer{
  background: #323339;
  width: 100%;

  @media all and (max-width: 1023px){
    margin-top: -11%;
  }

  .footer_left{
    display: none;
  }

  .footer_right{
    background: #323339;
    width: 100%;
    display: inline-block;   
    border: none;

    #block-blockinfofooter{
      border: none;
      text-align: center;
      
      .field--type-image{
        box-sizing: border-box;
        padding: 0 15%;
        margin-bottom: 2em;
        margin-top: -1em;
      }

      @media all and (min-width: 560px) and (max-width: 1023px){
        box-sizing: border-box;
        padding: 0 25%;

        .field--type-image{
          box-sizing: border-box;
          padding: 0;
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }

    .menu--footer-mobile{
      border: none;
      text-align: center;

      ul{
        text-align: center;

        li{
          background-color: #231f20;
          padding: 0.8em 0 0.5em 0;
          font-weight: 100;
          font-size: 1.8em;
          margin-bottom: 2em;
        }
      }
    }

    .social__mobile{
      ul{
        list-style: none;
        text-align: center;

        li{
          color: white;
          display: inline-block;
          width: 30%;
          text-align: center;
          font-size: 280%;
          margin-bottom: 1em;

          @media all and (min-width: 560px) and (max-width: 1023px){
            width: auto;
            margin-bottom: 0;
            margin-right: 1em;
          }
        }
      }
    }
  }
}


@media all and (min-width: 1024px){
  footer{
    margin-top: -3em;

    .footer_left{
      background: #323339;
      width: 67%;
      padding-top: 0em;
      padding-left: 3.7em;
      margin-top: -2.5em;
      box-sizing: border-box;
      float: none;    
      display: inline-block;

      .social__desktop{
        ul{
          list-style: none;
          text-align: center;

          li{
            color: white;
            display: inline-block;
            margin-right: 1em;
            text-align: center;
            font-size: 280%;
          }
        }
      }

      .site-footer__top{
        margin-top: 7%;
        padding-bottom: 30px;
        margin-left: 10%;
      }

      .site-footer__bottom{
        margin-left: 10%;      
      }

      .region{

        .block-superfish{
          border: none;
        }

        h2{
          color: $racc-red;
          font-weight: 500;
          margin-bottom: 10px;
          font-size: 12px;
          border: none;
        }

        ul{
          li{
            margin-bottom: 0.27em;
            color: white;
            font-weight: 500;
            font-size: 11px;
            text-decoration: none;

            a{
              border: none;        
              text-align: left;    
            }
          }
        }
      }

      .region-footer-first{
        width: 25%;
      }

      .region-footer-second{
        width: 25%;   
      }

      .region-footer-third{
        width: 25%;    
      }

      .region-footer-fourth{
        width: 25%;
      }
    }

    .footer_right{
      width: 32%;
      float: none;
      vertical-align: top;
  
      #block-blockinfofooter{
        border: none;
      }

      .menu--footer-mobile{
        display: none;
      }

      .social__mobile{
        display: none;
      }
    }
  }
}