.top_menu{
    background: #f23522;
    width: 72.6%;
    height: 46px;
    float: right;

    ul{
        padding: 0 0 0.25em 2em;

        >li:first-child{
            padding-left: 2.15em;
        }


        li{
            display: inline-block;
            padding-right: 4em;

            a{
                text-transform: uppercase;
                font-family: $racc-font;
                color: white;
                font-size: 0.85em;
                font-weight: 600;
                letter-spacing: 0.15em;

                .is-active{
                    color: white;
                }
            }
        }
    }
}