.top_menu{
    background: #f23522;
    width: 100%;
    height: 5px;

    .region-top-menu{
        display: none;
    }
}

@media all and (min-width: 1024px) {
    .top_menu{
        background: #f23522;
        width: 72.6%;
        height: 46px;
        float: right;

        .region-top-menu{
            display: block;
        }

        ul{
            padding: 0 0 0.25em 2em;

            >li:first-child{
                padding-left: 2.15em;
            }


            li{
                display: inline-block;
                padding-right: 3.45em;
                padding-top: 2px;

                a{
                    text-transform: uppercase;
                    font-family: $racc-font;
                    color: white;
                    font-size: 0.85em;
                    font-weight: 600;
                    letter-spacing: 0.15em;
                }

                a.is-active{
                    color: white !important;
                }
                
                i{
                    cursor: pointer;
                    color: white;
                    font-size: 125%;
                }
            }
        }
    }

    .menu--language{
        display: inline-block;
        margin-left: 10%;

        ul{

            li{
                padding: 0 10px;
                font-size: 120%;
            }
        }
    }
}